In [2]:
import pandas as pd

In [3]:
# Создадаим структуру данных Датафрейм (далее - дф)
# Дф - словарь, где ключ = названия колонки (она же структура данных Серия), а значения = список значений этой колонки
df = pd.read_excel('DH_source_data.xlsx')

In [4]:
df # Первые и последние 5 записе. Оставить только либо первые, либо последние .head(), .tail()

,Url,Likes,Reposts,Comments,Views,ER,Text,Date,Author
0,https://vk.com/wall-144904445_323857,792,87,95,16521,1.632,Егор Яковлев — о мифах и спорах вокруг Мавзоле...,2020-09-23 11:35:06,public144904445
1,https://vk.com/wall-144904445_323884,245,20,15,16470,0.469,История жвачки: 23 сентября 1848 года американ...,2020-09-23 13:00:08,public144904445
2,https://vk.com/wall-144904445_323963,1356,107,139,27441,2.684,23 сентября 1943 года погибла Валерия Гнаровск...,2020-09-23 15:46:00,public144904445
3,https://vk.com/wall-144904445_324047,319,21,54,17070,0.660,"Знаете ли вы, почему у одного и того же пистол...",2020-09-23 18:53:52,public144904445
4,https://vk.com/wall-144904445_324186,455,28,200,18475,1.144,Газета «Правда» — о Сталине: 24 сентября 1934 ...,2020-09-24 14:06:00,public144904445
...,...,...,...,...,...,...,...,...,...
1985,https://vk.com/wall-144904445_469121,1070,57,73,10803,2.010,"<a href=""https://vk.com/club25557243"" target=""...",2021-09-22 15:00:03,public144904445
1986,https://vk.com/wall-144904445_469253,238,105,2,8151,0.578,Подборка аудиолекций по истории Средних веков ...,2021-09-22 18:00:00,public144904445
1987,https://vk.com/wall-144904445_469260,336,23,23,7850,0.640,"Уничтожить 30 миллионов советских граждан, ост...",2021-09-22 18:22:48,public144904445
1988,https://vk.com/wall-144904445_469517,471,51,28,6728,0.921,23 сентября 1943 года погибла Валерия Гнаровск...,2021-09-23 14:00:00,public144904445
1989,https://vk.com/wall-144904445_469553,70,14,3,3016,0.146,История жевательной резинки: от мезолита до XI...,2021-09-23 15:00:02,public144904445

In [5]:
# Проверим, что вернувшийся объект дейтсвительно дф
# pandas.core.frame.DataFrame либо pandas.core.series.Series
type(df)

pandas.core.frame.DataFrame

In [6]:
df.info() #Техническая информация о датафрейме

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Url       1990 non-null   object
 1   Likes     1990 non-null   int64
 2   Reposts   1990 non-null   int64
 3   Comments  1990 non-null   int64
 4   Views     1990 non-null   int64
 5   ER        1990 non-null   float64
 6   Text      1990 non-null   object
 7   Date      1990 non-null   datetime64[ns]
 8   Author    1990 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 140.1+ KB

In [7]:
df.shape # shape это не метод, а атрибут, поэтому без скобок. Показывает ряды и колонки для дф, для серий - ряды

(1990, 9)

In [8]:
# Базовая стаститика без медианы
df.describe()

,Likes,Reposts,Comments,Views,ER,Date
count,1990.000000,1990.000000,1990.000000,1990.000000,1990.000000,1990
mean,570.451759,113.844221,66.576382,17550.449749,1.257910,2021-03-28 04:18:45.934170880
min,26.000000,0.000000,0.000000,3016.000000,0.050000,2020-09-23 11:35:06
25%,315.000000,52.000000,13.000000,12458.250000,0.694000,2021-01-14 20:15:06.500000
50%,472.500000,90.000000,34.000000,15928.000000,1.054000,2021-04-01 13:00:00.500000
75%,711.500000,147.750000,82.750000,20339.500000,1.561000,2021-06-16 17:34:58.500000
max,3773.000000,918.000000,1475.000000,67189.000000,10.068000,2021-09-23 15:00:02
std,379.454131,96.413758,95.917322,7527.720114,0.841018,NaN

In [9]:
# Пказать данные из 1 колонки (т.е. выбрать pandas Series). Для этого нужно фильтровать по колонкам 
# Поскольку дф это словарь, то необходимо, выбрать ключ словаря, чтобы отобразить значения.
# Как фильтровать по рядам - будет описано дальше.
df['Likes']

0        792
1        245
2       1356
3        319
4        455
        ...
1985    1070
1986     238
1987     336
1988     471
1989      70
Name: Likes, Length: 1990, dtype: int64

In [10]:
# Как выбрать дф из >=2 колонок. 
# Используем 4 квадратные скобки. [] это selection brackets, а другие [] это список ключей
likes_reposts_comments = df[["Likes", "Comments", "Reposts"]]
likes_reposts_comments

      Likes  Comments  Reposts
0       792        95       87
1       245        15       20
2      1356       139      107
3       319        54       21
4       455       200       28
...     ...       ...      ...
1985   1070        73       57
1986    238         2      105
1987    336        23       23
1988    471        28       51
1989     70         3       14

[1990 rows x 3 columns]

In [11]:
# Посмотрим средние и медианные значения
print(likes_reposts_comments.median())
print(likes_reposts_comments.mean())

Likes       472.5
Comments     34.0
Reposts      90.0
dtype: float64
Likes       570.451759
Comments     66.576382
Reposts     113.844221
dtype: float64

In [12]:
# Напишем условие с оператором сравнения. 
# Для этого отфильтруем дф по колонке и проверим, удовлетворяют ли условию значения каждого ряда или нет.
# Выведем результат да/нет для каждой строчки на соответствие условию:
df["Reposts"] > 100

0       False
1       False
2        True
3       False
4       False
        ...
1985    False
1986     True
1987    False
1988    False
1989    False
Name: Reposts, Length: 1990, dtype: bool

In [13]:
# Как фильтровать ряды.
# Чтобы отфильтровать ряды датафрейма (в моем случае - исходного), нужно в [] передать условие для фильтрации.
# Посмотрим все посты, набравшие более 100 комментариев.

df[df["Reposts"] > 100]

,Url,Likes,Reposts,Comments,Views,ER,Text,Date,Author
2,https://vk.com/wall-144904445_323963,1356,107,139,27441,2.684,23 сентября 1943 года погибла Валерия Гнаровск...,2020-09-23 15:46:00,public144904445
33,https://vk.com/wall-144904445_325774,1030,165,30,27666,2.052,В 1928 году вышла «Зоогеографическая карта ССС...,2020-09-29 12:45:00,public144904445
40,https://vk.com/wall-144904445_326213,1057,209,43,22923,2.193,"Советский математик, физик, журналист и педаго...",2020-09-30 19:17:33,public144904445
41,https://vk.com/wall-144904445_326258,675,134,14,18102,1.379,«Гора самоцветов» — мультипликационный сериал ...,2020-09-30 20:30:00,public144904445
50,https://vk.com/wall-144904445_326927,460,117,7,16314,0.978,Подборка лекций автора книг из серии «ЖЗЛ» док...,2020-10-02 19:43:00,public144904445
...,...,...,...,...,...,...,...,...,...
1976,https://vk.com/wall-144904445_468472,732,208,47,20136,1.653,20 сентября 2002 года в Кармадонском ущелье пр...,2021-09-20 16:00:00,public144904445
1978,https://vk.com/wall-144904445_468648,470,158,30,15797,1.102,Продолжаем знакомство с советскими мультфильма...,2021-09-21 12:00:00,public144904445
1982,https://vk.com/wall-144904445_468735,1527,168,202,23363,3.178,Матвей Кузьмин: самый пожилой Герой Советского...,2021-09-21 20:00:01,public144904445
1984,https://vk.com/wall-144904445_469081,482,116,160,15973,1.270,Непристойная страничка из истории США \n \n22 ...,2021-09-22 14:00:00,public144904445
1986,https://vk.com/wall-144904445_469253,238,105,2,8151,0.578,Подборка аудиолекций по истории Средних веков ...,2021-09-22 18:00:00,public144904445

In [14]:
# Посмотреть массив уникальных значений (аналог distinct в SQL)
df["Author"].unique()

array(['public144904445', 'id84987784', 'id163491415', 'id513856790',
       'id2429322', 'id1933899', 'id200791076', 'id17563151', 'id1285753',
       'id236648695', 'id6595459', 'id142028946', 'id379895986',
       'id94852570', 'id317989140', 'id3666879', 'id157767186',
       'id13960623', 'id228123269', 'id85856553'], dtype=object)

In [15]:
# Посмотреть все ряды, отфильтровав по колоне Author со значением X ИЛИ значением Y. 
# isin это аналог IN() в SQL.
df[df["Author"].isin(["id163491415", "id84987784"])]

,Url,Likes,Reposts,Comments,Views,ER,Text,Date,Author
218,https://vk.com/wall-144904445_344259,249,48,11,11668,0.516,Лекции о романе Чернышевского «Что делать?» \n...,2020-11-10 14:00:05,id84987784
307,https://vk.com/wall-144904445_353417,795,82,287,19189,1.950,Рабочий-металлург Бабушкин. С ним «расправилис...,2020-11-28 19:03:01,id163491415
308,https://vk.com/wall-144904445_353517,497,71,16,13281,0.978,В Петрограде ровно 105 лет назад родился выдаю...,2020-11-28 21:05:41,id163491415
309,https://vk.com/wall-144904445_353547,342,21,21,14931,0.643,"Кир II Великий. Он покорил Мидию, Лидию, Вавил...",2020-11-28 22:08:00,id163491415
312,https://vk.com/wall-144904445_354123,1117,118,103,26353,2.242,Восхищённый Георг VI приказал выковать меч в ч...,2020-11-29 17:53:08,id163491415
313,https://vk.com/wall-144904445_354251,405,73,16,13986,0.828,Ликбез по истории шумерской цивилизации: проис...,2020-11-29 20:00:08,id163491415
318,https://vk.com/wall-144904445_354833,991,72,196,23324,2.109,Первое интервью Сталина западной прессе \n \nВ...,2020-11-30 20:40:10,id163491415
319,https://vk.com/wall-144904445_354956,641,136,48,18107,1.382,Видеоподборка блогера Bushwacker по истории Яп...,2020-11-30 23:39:18,id163491415
350,https://vk.com/wall-144904445_358748,544,48,4,11994,0.998,Василевский — о рядовом солдате: «Я хочу отдат...,2020-12-07 20:04:00,id163491415
381,https://vk.com/wall-144904445_360803,980,84,91,29984,1.935,Как из крестьянина Толстогузова сделали «участ...,2020-12-13 18:06:57,id163491415
382,https://vk.com/wall-144904445_360850,456,24,26,14925,0.848,"В Петербурге нашли незабудку, которой около 15...",2020-12-13 20:04:29,id163491415

In [16]:
# Проверка True/False содержат ли ряды NA-значение.
df.notna() # Датасет не содержит Null-значений.

       Url  Likes  Reposts  Comments  Views    ER  Text  Date  Author
0     True   True     True      True   True  True  True  True    True
1     True   True     True      True   True  True  True  True    True
2     True   True     True      True   True  True  True  True    True
3     True   True     True      True   True  True  True  True    True
4     True   True     True      True   True  True  True  True    True
...    ...    ...      ...       ...    ...   ...   ...   ...     ...
1985  True   True     True      True   True  True  True  True    True
1986  True   True     True      True   True  True  True  True    True
1987  True   True     True      True   True  True  True  True    True
1988  True   True     True      True   True  True  True  True    True
1989  True   True     True      True   True  True  True  True    True

[1990 rows x 9 columns]

In [17]:
# Проверка True/False содержат ли ряды NA-значение.
df.isna() # Датасет не содержит Null-значений.

        Url  Likes  Reposts  Comments  Views     ER   Text   Date  Author
0     False  False    False     False  False  False  False  False   False
1     False  False    False     False  False  False  False  False   False
2     False  False    False     False  False  False  False  False   False
3     False  False    False     False  False  False  False  False   False
4     False  False    False     False  False  False  False  False   False
...     ...    ...      ...       ...    ...    ...    ...    ...     ...
1985  False  False    False     False  False  False  False  False   False
1986  False  False    False     False  False  False  False  False   False
1987  False  False    False     False  False  False  False  False   False
1988  False  False    False     False  False  False  False  False   False
1989  False  False    False     False  False  False  False  False   False

[1990 rows x 9 columns]

In [18]:
# Более сложная фильтрация. Вывести все репосты, у которых боле 500 комментов и более 1000 лайков.
df.loc[(df["Comments"] > 500) & (df["Likes"] > 1000), "Reposts"]

75      104
247     278
439     403
781     308
1380    195
1803    128
1819    203
1907    762
1948    410
Name: Reposts, dtype: int64

In [19]:
# Фильтрация по индексам. В первом аргументе указываются ряды, во втором колонки.

df.iloc[9:20, [1, 2, 3, 4, 6]]

,Likes,Reposts,Comments,Views,Text
9,30,0,0,6311,Князь! «Кремли и крепости земли русской» ждут ...
10,239,5,9,14012,"Друзья, важное сообщение всем идущим на фестив..."
11,250,4,2,11309,Уже сегодня! На фестивале будет представлен ст...
12,442,26,13,13744,Фестиваль «Цифровая история: разгром фальшивой...
13,570,5,13,16669,До начала 20 минут! \n\nЗрители еще фотографир...
14,317,13,100,10660,Доцент Елена Браун грандиозно расправляется с ...
15,329,7,10,9066,Автор книг из серии «ЖЗЛ» доктор исторических ...
16,377,13,42,8872,"Иногда заявляют, что Сталин «боялся фронтовико..."
17,334,17,29,8724,"Есть утверждение, что Октябрьское вооруженное ..."
18,743,18,17,15026,Немного похвастаемся. В первый день фестиваля ...
19,454,22,43,13298,Постковидный мир наступил: доктор исторических...

In [26]:
# groupby сам по себе - это объект, который содержит метаданные о том как выполниь groupby. 
# Без агрегации просто отобразится упоминание об этом
df[["Likes", "Reposts", "Comments", "Author"]].groupby("Author")

In [27]:
# Применим к groupby агрегацию, чтобы выполнить манипуляцию над данными
df[["Likes", "Reposts", "Comments", "Author"]].groupby("Author").mean()

                       Likes     Reposts    Comments
Author
id1285753         366.125000   84.000000   30.000000
id13960623        516.000000   70.000000   50.000000
id142028946       228.500000   43.000000   17.000000
id157767186       511.000000   65.000000  234.000000
id163491415       676.800000   72.900000   80.800000
id17563151       1131.500000  258.000000  213.000000
id1933899         606.000000  132.666667   52.666667
id200791076       326.900000   89.900000   41.600000
id228123269       926.000000  151.000000  259.000000
id236648695       327.333333   53.777778   60.333333
id2429322        1080.250000  208.000000  137.250000
id317989140       383.846154   79.538462    8.538462
id3666879         299.000000  123.000000   86.000000
id379895986       197.000000   33.666667    7.666667
id513856790       137.000000   21.000000   34.000000
id6595459         209.000000   29.000000   50.000000
id84987784        249.000000   48.000000   11.000000
id85856553        601.000000  170.000000   25.000000
id94852570        249.333333   58.333333   24.000000
public144904445   574.752480  114.854830   67.027676